*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head{
    width: 400px;

    font-size: 2.5rem;
    color: blueviolet;
    border: 5px dotted blue;
    margin: 10px auto;
    padding: 5px 20px;
    text-align: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    margin: .8rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image{
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 5px;
}

.tour-name{
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 5px;
}

.tour-price{
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 3px 0px;
}

.read-more{
    color: rgb(41, 121, 234);
    cursor: pointer;
}
.red-btn{
    padding: 5px 20px;
    background-color: rgb(223, 165, 165);
    font-size: 1.1rem;
    margin: 3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.red-btn:hover{
    background-color: red;
    color: white;
}

.refresh{
    /* border: 2px solid yellow; */
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.refresh h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.white-btn{
    padding: 3px 20px;
    font-size: 1.3rem;
    background-color: white;
    border: 2px solid rgb(148, 142, 142);
    background-color:rgb(148, 142, 142) ;
    color: white;
    cursor: pointer;
}
